[submodule "src/submodules/noteDigger"]
	path = src/submodules/noteDigger
	url = https://github.com/madderscientist/noteDigger.git
[submodule "src/submodules/Smoosic"]
	path = src/submodules/Smoosic
	url = https://github.com/Smoosic/Smoosic.git
[submodule "src/submodules/composing-studio"]
	path = src/submodules/composing-studio
	url = https://github.com/ekzhang/composing.studio.git
[submodule "src/submodules/alphaTab"]
	path = src/submodules/alphaTab
	url = https://github.com/CoderLine/alphaTab.git
[submodule "src/submodules/Neothesia"]
	path = src/submodules/Neothesia
	url = https://github.com/PolyMeilex/Neothesia.git
