[submodule "src/submodules/noteDigger"]
	path = src/submodules/noteDigger
	url = https://github.com/madderscientist/noteDigger.git
[submodule "src/submodules/alphaTab"]
	path = src/submodules/alphaTab
	url = https://github.com/CoderLine/alphaTab.git
